// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.box-height {
    height: 100px;
}

#mymap {
    border:1px solid red;
    width: 800px;
    height: 500px;
}
